<form method="POST" action="/profile/<%= current_user.user_name %>/edit">
	<input type="text" name="[post]user_name" placeholder="Username"><br>
	<input type="text" name="[post]first_name" placeholder="First Name"><br>
	<input type="text" name="[post]last_name" placeholder="Last Name"><br>
	<input type="text" name="[post]email" placeholder="Email"><br>
	<input type="password" name="[post]password" placeholder="Password"><br>
	<input type="password" name="confirm_password" placeholder="Confirm Password"><br>
	<input type="submit">
</form>

<div style="background-color:pink">
	<p>Username: <%= current_user.user_name %></p>
	<p>First Name: <%= current_user.first_name %></p>
	<p>Last Name: <%= current_user.last_name %></p>
	<p>Email: <%= current_user.email %></p>
	<p>Password: <%= current_user.password %></p>
</div>

